<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="message-wrapper">
        <form>
            <label for="message-s">Message Subject</label>
            <input type="text" id="message-s" name="message-s" required>
            <label for="message">Message</label>
            <input type="text" id="message" name="message" required>
            <button class="message-btn">Submit</button>
        </form>
    </div>
</body>
</html>