<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="title">
        <h1>Messages</h1>
    </div>
    <div class="messages-wrapper">
         <h2>All Messages</h2>
         <% if (messages.length > 0) { %>
            <% messages.forEach(message => {%>
                <div class="message">
                    <a class="id" href="/messages/<%=message._id%>">
                        <h3 class="msg-subject"><%= message.subject %></h3>
                        <p class="msg-content"><%= message.message %></p>
                    </a>
                </div>
           <% })%>
            <%}%>
    </div>
    <button><a href="/create">Reply</a></button>
</body>
</html>