<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="title">
        <h1>Messages</h1>
    </div>
    <div class="messages-wrapper">
         <h2>All Messages</h2>
         <% %>
    </div>
    <button><a href="message">Reply</a></button>
</body>
</html>